.table-list-products {
    margin: 2rem auto;
    border: black 2px solid;
    padding: 2rem 1rem;
}
.container-produtos {
    margin-top: 4rem;

    margin-bottom: 1rem;
}
.title-produtos {
    padding-top: 1rem;
}